{% extends 'base.html.twig' %}

{% block title %}Share PhoneBookEntry{% endblock %}

{% block body %}

    <h1>Share PhoneBookEntry</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>PhoneNumber</th>
        </tr>
        </thead>
        <tbody>
        {% if entry %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.phoneNumber }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="dropdown">
        <button onclick="myFunction()" class="btn btn-success">Share With</button>
        <div id="myDropdown" class="dropdown-content" style="max-height: 300px; overflow: auto;">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            {% for user in users %}
                <a href="/pbEntry/{{ entry.id }}/{{ user.id }}/share">{{ user.username }}</a>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
    </div>


    <a href="{{ path('phone_book_entry_index') }}" class="btn btn-warning">back to list</a>
{% endblock %}
